<header>

    <mat-toolbar class="header">
        <h1>Pokedex</h1>
    </mat-toolbar>
</header>

<body class="pokedex">
    <div class="container">



        <input type="text" [(ngModel)]="searchQuery" (input)="search()" placeholder="Search Pokemon">
        <div  class="nomes">
            <ul>
                <li *ngFor="let pokemon of filteredList">
                    <a (click)="selectPokemon(pokemon)">{{ pokemon.name }}</a>
                </li>
            </ul>
        </div>
        <div class="teste2" *ngIf="selectedPokemonDetails">
            <h2>{{ selectedPokemonDetails.name }}</h2>
            <p>Altura: {{ selectedPokemonDetails.height }}</p>
            <p>Habilidades:</p>
            <ul>
                <li *ngFor="let ability of selectedPokemonDetails.abilities">
                    {{ ability.ability.name }}
                </li>
            </ul>
            <p>Tipos</p>
            <ul>
                <li *ngFor="let type of selectedPokemonDetails.types">
                    {{ type.type.name }}
                </li>
            </ul>
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png" >
        </div>
    </div>
</body>